<%- include("template/cabecera", {tituloWeb: 'Crear nueva mascota'}) %>

<div class="container">
    <h1>Crear</h1>
    <form action="/mascotas" method="POST">
        
        <input type="text" name="nombre" placeholder="Agregar Nombre" class="form-control my-2" required>
        <input type="text" name="descripcion" placeholder="Agregar Descripcion" class="form-control my-2" required>
        <button type="submit" class="btn btn-success btn-block">Agregar</button>
        <a href="/mascotas" class="btn btn-danger btn-block">regresar</a>
        
    </form>
</div>

<%- include("template/footer") %>
